[Unit]

Description=Rtl Airband Server

Wants=network-online.target
After=network-online.target

[Service]

Nice=-1
#IOSchedulingClass=best-effort
#IOSchedulingPriority=0

ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/rtl_airband -F -c /etc/rtl_airband.conf

StandardOutput=inherit
StandardError=inherit

Restart=always

User=arthur

[Install]

WantedBy=multi-user.target
