[Unit]

Description=SDR++ Server

Wants=network-online.target
After=network-online.target

[Service]

Nice=-2
IOSchedulingClass=realtime
IOSchedulingPriority=1

ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/sdrpp --server --port 5555

StandardOutput=inherit
StandardError=inherit

Restart=always

User=arthur

[Install]

WantedBy=multi-user.target

