[Unit]

Description=SoapyRemote server

Wants=network-online.target
After=network-online.target

[Service]

Nice=-1
#IOSchedulingClass=best-effort
#IOSchedulingPriority=0

ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/SoapySDRServer --bind="0.0.0.0:5555"

KillMode=process
Restart=always

User=root

[Install]

WantedBy=multi-user.target
